
  @import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400&family=Sansita&display=swap');

  @media only screen and (min-width: 1900px) {
    body{
        background-color:rgb(242,240,238);
        align-content: center;
        justify-content: center;
    }
    .content1{
        width: 80%;
        height: 50%;
        background-color: white;
        margin: 5% 10% 5% 10%;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        padding-bottom: 4rem;
    }
    .content2{
        width: 80%;
        height: 100%;
        background-color:rgb(242,240,238);
        margin: 5% 10% 5% 10%;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        border-radius: 15px;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        font-family:'Sansita', sans-serif;
    }
    .logo{
        width: 20%;
    }
    .logo img{
    width: 60%;
    }
    nav a{
        text-decoration: none;
        color: black;
    }
    nav ul a:hover{
        background-color: #d4c3c3;
        font-size: 1.7rem;
        cursor:grab ;
    }
    nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    }
    .profile{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr ;
        gap: 2rem;
    }
    .profile2{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr ;
        gap: 2rem;
    }
    .img1{
        grid-column:1/2 ;
        grid-row: 1/2;
        padding: 2% 20%;
    }
    .line{
        display: inline;
    }
    .hello-text{
        display: flex;
        justify-content: start;
        grid-column:2/3 ;
        grid-row: 1/2;
        margin-top: 5rem;
    }
    .hello-text2{
        display: flex;
        justify-content: start;
        grid-column:2/3 ;
        grid-row: 1/2;
    }
    .line{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 0.5rem;
        height: 15rem;
        margin-top: 4rem;
        /* margin: 2rem ; */
    }
    .line2{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 1rem;
        height: 27rem;
        margin-top: 8rem;
        /* margin: 2rem ; */
    }
    .line3{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 1rem;
        height: 42rem;
        margin-top: 8rem;
        /* margin: 2rem ; */
    }
    .txt-one p{
        color: #971A3C;
        font-size: 3rem;
        font-family: 'Sansita', sans-serif;
    }
    .name{
        font-size: 3rem;
        display: inline;
    }
    .txt{
        font-size: 1.5rem;
        display: inline;
        padding: 0 10% 0 2%;
        font-family:'Open Sans', sans-serif;
        line-height: 2.5rem;
        margin-right: 4.5rem;
    }
    .txt p .about{
        background-color: #971A3C;
    }
    ul{
        list-style: none;
    }
     .social-media li a{
        font-size: 64px;
        color: black;
        text-decoration: none;
    }
    .social-media{
        font-size:xx-large;
        position:absolute;
        bottom: 0;
        left: 0;
    }
    .social-media a:hover{
        font-size: 5rem;
        cursor:grab ;
    }
    .image3 img{
        width:15rem ;
        height:15rem ;
        margin-left: 8rem;
        margin-top: 8rem;
        display:flex;
        flex-direction: column;
    }
  }

  @media only screen and (min-width: 1450px) and (max-width: 1899.9px)  {
    body{
        background-color:rgb(242,240,238);
        align-content: center;
        justify-content: center;
    }
    .content1{
        width: 80%;
        height: 50%;
        background-color: white;
        margin: 5% 10% 5% 10%;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        padding-bottom: 4rem;
    }
    .content2{
        width: 80%;
        height: 100%;
        background-color:rgb(242,240,238);
        margin: 5% 10% 5% 10%;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        border-radius: 15px;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        font-family:'Sansita', sans-serif;
    }
    
    .logo{
        width: 20%;
    }
    .logo img{
    width: 100%;
    }
    
    nav a{
        text-decoration: none;
        color: black;
    }
    nav ul a:hover{
        background-color: #d4c3c3;
        font-size: 1.7rem;
        cursor:grab ;
    }
    nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 3rem;
    font-size: 1.5rem;
    font-weight: 800;
    }
    .profile{
        display:block;
    }
    .profile2{
      display:block;
    }
    .img1{
        
        padding: 2% ;
        margin-left: 33%;
        margin-right: 25%;
        display: flex;
        width: 50%;
    }
    .image{
        padding: 2% ;
        margin-left: 10%;
        margin-right: 80%;
        display: flex;
    }
    .image3 img{
        width:15rem ;
        height:15rem ;
        margin-left: 8rem;
        margin-top: 8rem;
        display:flex;
        flex-direction: column;
    }
    .line{
        display: inline;

    }
    .line3{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 1rem;
        height: 42rem;
        margin-top: 8rem;
    }
    .hello-text{
        display: flex;
        justify-content: start;
        margin-left: 35%;
    }
    .hello-text2{
        display: flex;
        justify-content: start;
        margin-left: 30%;
    }
    .line{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 0.5rem;
        height: 16rem;
        margin-top: 3rem;
    }
    .line2{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 1rem;
        height: 24rem;
        margin-top: 9rem;
    }
    .txt-one p{
        color: #971A3C;
        font-size: 3rem;
        font-family: 'Sansita', sans-serif;
    }
    .name{
        font-size: 3rem;
        display: inline;
    }
    .txt{
        font-size: 1.5rem;
        display: inline;
        padding: 0 10% 0 2%;
        font-family:'Open Sans', sans-serif;
        line-height: 2.5rem;
        margin-right: 4.5rem;
    }
    .txt p .about{
        background-color: #971A3C;
    }
    .line-icon{
        height:8rem ;
        width:1px;
        border: .5rem solid black;
        background-color: black;
    }
    ul{
        list-style: none;
    }
     .social-media li a{
        font-size: 64px;
        color: black;
        text-decoration: none;
    }
    .social-media{
        font-size:xx-large;
        position:absolute;
        bottom: 0;
        left: 0;
    }

    .social-media a:hover{
        font-size: 5rem;
        cursor:grab ;
    }
  }

  @media only screen and (min-width: 1017px) and (max-width: 1451.9px)  {
    body{
        background-color:rgb(242,240,238);
        align-content: center;
        justify-content: center;
    }
    .content1{
        width: 80%;
        height: 50%;
        background-color: white;
        margin: 5% 10% 5% 10%;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        padding-bottom: 4rem;
    }
    .content2{
        width: 80%;
        height: 100%;
        background-color:rgb(242,240,238);
        margin: 5% 10% 5% 10%;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        border-radius: 15px;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        font-family:'Sansita', sans-serif;
    }

    .logo{
        width: 20%;
    }
    .logo img{
    width: 100%;
    }
    nav a{
        text-decoration: none;
        color: black;
    }
    nav ul a:hover{
        background-color: #d4c3c3;
        font-size: 1.3rem;
        cursor:grab ;
    }
    nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
    font-size: 1.1rem;
    font-weight: 800;
    }
    .profile{
        display:block;
    }
    .profile2{
      display:block;
    }
    .img1{
        padding: 2% ;
        margin-left: 35%;
        margin-right: 25%;
        display: flex;
        width: 80%;
    }
    .image{
        padding: 2% ;
        display:flex;
    }
    .image3 img{
        width:15rem ;
        height:15rem ;
        margin-left: 8rem;
        margin-top: 8rem;
        display:flex;
        flex-direction: column;
    }
    .img{
        margin-left: -2%;
        width: 50%;
    }
    .line{
        display: inline;

    }
    .hello-text{
        display: flex;
        justify-content: start;
        margin-left: 35%;
    }
    .hello-text2{
        display: flex;
        justify-content: start;
        margin-left: 30%;
    }
    .line{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 0.5rem;
        height: 12rem;
        margin-top: 3rem;
        /* margin: 2rem ; */
    }
    .line2{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 1rem;
        height: 24rem;
        margin-top: 9rem;
    }
    .line3{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 1rem;
        height: 42rem;
        margin-top: 8rem;
    }
    .txt-one p{
        color: #971A3C;
        font-size: 2rem;
        font-family: 'Sansita', sans-serif;
    }
    .name{
        font-size: 2rem;
        display: inline;
    }
    .txt{
        font-size: 1.3rem;
        display: inline;
        padding: 0 10% 0 2%;
        font-family:'Open Sans', sans-serif;
        line-height: 2rem;
        margin-right: 4rem;
    }
    .txt p .about{
        background-color: #971A3C;
    }
    .line-icon{
        height:6rem ;
        width:.5px;
        border: .3rem solid black;
        background-color: black;
    }
    ul{
        list-style: none;
    }
     .social-media li a{
        font-size: 32px;
        color: black;
        text-decoration: none;
    }
    .social-media{
        font-size:xx-large;
        position:absolute;
        bottom: 0;
        left: 0;
    }
    .line-icon{
        position:relative;
        left: .5rem;
    }
    .social-media a:hover{
        font-size: 3rem;
        cursor:grab ;
    }
  }


  @media only screen and (min-width: 768px)and (max-width: 1017px)  {
    body{
        background-color:rgb(242,240,238);
        align-content: center;
        justify-content: center;
    }


    .content1{
        width: 80%;
        height: 50%;
        background-color: white;
        margin: 5% 10% 5% 10%;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        padding-bottom: 4rem;
    }
    .content2{
        width: 80%;
        height: 100%;
        background-color:rgb(242,240,238);
        margin: 5% 10% 5% 10%;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        border-radius: 15px;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        font-family:'Sansita', sans-serif;
    }
    .logo{
        width: 30%;
    }
    .logo img{
    width: 100%;
    }
    nav a{
        text-decoration: none;
        color: black;
    }
    nav ul a:hover{
        background-color: #d4c3c3;
        font-size: 1.3rem;
        cursor:grab ;
    }
    nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
    font-size: 1.1rem;
    font-weight: 800;
    }
    .profile{
        display:block;
    }
    .profile2{
      display:block;
    }
    .img1{
        padding: 2% ;
        margin-left: 35%;
        margin-right: 25%;
        display: flex;
        width: 80%;
    }
    .image{
        padding: 2% ;
        display:flex;
    }
    .img{
        margin-left: -2%;
        width: 50%;
    }
    .image3 img{
        width:15rem ;
        height:15rem ;
        margin-left: 8rem;
        margin-top: 8rem;
        display:flex;
        flex-direction: column;
    }
    .line{
        display: inline;

    }
    .hello-text{
        display: flex;
        justify-content: start;
        margin-left: 35%;
    }
    .hello-text2{
        display: flex;
        justify-content: start;
        margin-left: 30%;
    }
    .line{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 0.5rem;
        height: 9rem;
        margin-top: 2rem;
        /* margin: 2rem ; */
    }
    .line2{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 1rem;
        height: 19rem;
        margin-top: 5rem;
    }
    .line3{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 1rem;
        height: 42rem;
        margin-top: 8rem;
    }
    .txt-one p{
        color: #971A3C;
        font-size: 1rem;
        font-family: 'Sansita', sans-serif;
    }
    .name{
        font-size: 1rem;
        display: inline;
    }
    .txt{
        font-size: 1rem;
        display: inline;
        padding: 0 10% 0 2%;
        font-family:'Open Sans', sans-serif;
        line-height: 1.5rem;
    }
    .line-icon{
        height:6rem ;
        width:.5px;
        border: .3rem solid black;
        background-color: black;
    }
    ul{
        list-style: none;
    }
     .social-media li a{
        font-size: 32px;
        color: black;
        text-decoration: none;
    }
    .social-media{
        font-size:x-large;
        position:absolute;
        bottom: 0;
        left: 0;
    }
    .line-icon{
        position:relative;
        left: .5rem;
    }
    .social-media a:hover{
        font-size: 2rem;
        cursor:grab ;
    }
  }

  @media only screen and (max-width: 767.9px)  {
    body{
        background-color:rgb(242,240,238);
        align-content: center;
        justify-content: center;
    }
    .content1{
        width: 80%;
        height: 50%;
        background-color: white;
        margin: 5% 10% 5% 10%;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        padding-bottom: 4rem;
    }
    .content2{
        width: 80%;
        height: 100%;
        background-color:rgb(242,240,238);
        margin: 5% 10% 5% 10%;
        box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
        border-radius: 15px;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-family:'Sansita', sans-serif;
    }
    .logo{
        width: 90%;
    }
    .logo img{
    width: 100%;
    }
    nav a{
        text-decoration: none;
        color: black;
    }
    nav ul a:hover{
        background-color: #d4c3c3;
        font-size: 1.3rem;
        cursor:grab ;
    }
    nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
    font-size: 1.1rem;
    font-weight: 800;
    }
    .profile{
        display:block;
    }
    .profile2{
      display:block;
    }
    .img1{
        padding: 2% ;
        margin-left: 25%;
        margin-right: 15%;
        display: flex;
        width:100%;
    }
.image{
        padding: 0 2% ;
        display:flex;
    }
    .img{
        margin-left: -2%;
        width: 50%;
    }
    .image3 img{
        width:15rem ;
        height:15rem ;
        margin-left: 8rem;
        margin-top: 8rem;
        display:flex;
        flex-direction: column;
    }
 
    .line{
        display: inline;

    }
    .hello-text{
        display: flex;
        justify-content: start;
        margin-left: 25%;
    }
    .hello-text2{
        display: flex;
        justify-content: start;
        margin-left: 15%;
    }
    .line{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 0.5rem;
        height: 5rem;
        margin-top: 4rem;
        /* margin: 2rem ; */
    }
    .line2{
        background-color: #971A3C;
        padding-top: 1rem;
        width: .5rem;
        margin-top: 5rem;
    }
    .line3{
        background-color: #971A3C;
        padding-top: 1rem;
        width: 1rem;
        height: 42rem;
        margin-top: 8rem;
    }
    .txt-one p{
        color:#616160;
        font-size: 1rem;
        font-family: 'Sansita', sans-serif;
    }
    .about{
        font-size: .5rem;
        font-weight: 500;
    }
    .name{
        font-size: 1rem;
        display: inline;
    }
    .front-end{
        font-size: 50%;
    }
    h2{
        font-size: small;
    }
    .txt{
        font-size: 1rem;
        display: inline;
        padding: 0 10% 0 2%;
        font-family:'Open Sans', sans-serif;
        line-height: 1.5rem;
    }
    ul{
        list-style: none;
    }
     .social-media li a{
        font-size: 24px;
        color: black;
        text-decoration: none;
    }
    .social-media{
        font-size:large;
        position:absolute;
        bottom: 0;
        margin-left: -5rem;

    }
    .line-icon{
margin-top: -.1rem; 
margin-left: .5rem;
 }
    .social-media a:hover{
        font-size: 2rem;
        cursor:grab ;
    }
  }






